.App {
  text-align: center;
}

.YoutubePlayerBack{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.YoutubePlayerBack, .YoutubePlayer iframe{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.TemperatureOutput{
  z-index: 1;
  color:white;
  font-size: 2em;
  position: absolute; 
  top: -250px; 
  right: 0; 
  width: 33%; 
  background: rgba(0,0,0,0.3);

}

.TemperatureConditions{
    text-transform: capitalize;
}

@media (min-aspect-ratio: 16/9) {
  .YoutubePlayerBack { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .YoutubePlayerBack { width: 300%; left: -100%; }
}
